body{
	font-family:"Oswald",Arial;
}
nav {
	padding-bottom: 0px;
}
header h1, p{
	text-align: center;
	margin:0px;
	padding:0px;
}
header h1{
	font-family:'Philosopher';
}
button{
	border-color:#1aa3ff;
}
.line{
	border:1px solid #1aa3ff;
    margin-bottom:2px;
}
main img {
	float:left;
	padding:10px;
}
.right img {
	float:right;
	padding:10px;
}
main h4, .right h4{
	font-weight: bold;
	margin-left: 32px;
	margin-top: 15px;
}
